.box {
    width:400px;
    height:400px;
    background-color:grey;
    position:absolute;
    margin-left:-200px; /* half of width */
    margin-top:-200px;  /* half of height */
    top:50%;
    left:50%;
    padding-left: 30px;
    
}