.box {
    width:700px;
    height:200px;
    background-color: white;
    position:absolute;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:40%;
    left:20%;
    padding:5px ;
}