<!DOCTYPE html>
<html lang="en">

<head>
    <title>Course Registration System</title>
</head>
<style>img{
    height:70%;
    width:100%;
    opacity: 0.7;
  }
  </style>

<body>
    <!--hfjfhkj-->
    <img src="assets/images/student.png" alt="img">
        <div class="container">
            <div id="menu">
                <ul>
                    <li><a [routerLink]="['/search']">Search</a></li>
                    <li><a>Enroll</a>
                        <ul>
                            <li><a [routerLink]="['/select-criteria']">Add</a></li>
                            <li><a [routerLink]="['/drop']">Drop</a></li>
                            <li><a [routerLink]="['/swap']">Swap</a></li>
<li><a [routerLink]="['/catalog']">Course Catalog</a>
                                                           
                            </li>
                        </ul>
                    </li>
                    <li><a>My Classes</a> <ul>
<li><a [routerLink]="['/schedule']">Class Schedule</a></li>
                            <li><a [routerLink]="['/grades']">View Grades</a></li>
                            <li><a [routerLink]="['/mandatory']">Mandatory Courses</a></li>

</ul>
                           
                            </li>
                    <li><a>Finance</a>
<ul>
                            <li><a [routerLink]="['/pay']">Make Payment</a></li>
                            <li><a [routerLink]="['/history']">Past Payments</a></li>

                          </ul>
</li>
                           
                   
                    <li><a [routerLink]="['/contact']">Contact Us</a></li>
<li class="logout"><a [routerLink]="['/login']">Logout</a></li>
                </ul>
<div>



</div>
            </div>
        </div>
        <div class="message"><h3><b>{{user.firstName}}, Welcome to Course Registration System</b></h3></div>
    </body>
</html>
