<!DOCTYPE html>
<html lang="en">

<head>
    <title>Course Registration System</title>
</head>

<body>
    <!--hfjfhkj-->
        <div class="container">
            <div id="menu">
                <ul>
                    <li><a [routerLink]="['/search']">Search</a></li>
                    <li><a href="#">Enroll</a>
                        <ul>
                            <li><a [routerLink]="['/select-criteria']">Add</a></li>
                            <li><a [routerLink]="['/drop']">Drop</a></li>
                            <li><a [routerLink]="['/swap']">Swap</a></li>
<li><a [routerLink]="['/catalog']">Course Catalog</a>
                                                           
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">My Classes</a> <ul>
<li><a href="#">Class Schedule</a></li>
                            <li><a href="#">View Grades</a></li>
                            <li><a href="#">Mandatory Courses</a></li>

</ul>
                           
                            </li>
                    <li><a href="#">Finance</a>
<ul>
                            <li><a href="#">Pay Bill</a></li>
                            <li><a href="#">Past Payments</a></li>

                          </ul>
</li>
                           
                   
                    <li><a href="#">Contact Us</a></li>
<li class="logout"><a href="#">Logout</a></li>
                </ul>
<div>



</div>
            </div>
        </div>
    </body>
</html>
