.box {
    width:500px;
    height:600px;
    background-color: white;
    position:absolute;
    margin-left:-150px; /* half of width */
    margin-top:-70px;  /* half of height */
    top:20%;
    left:50%;
    
}
// .body {
//     background-image: url("school.jpg");
//     background-color:red;
//    }
   .main {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    opacity: 0.9;

}
.invalid-feedback{
    color: red;
    font-size: 15px;
}