.box {
    width:500px;
    height:200px;
    background-color: white;
    position:absolute;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
}