.box {
    width:700px;
    height:400px;
    background-color: white;
    position:absolute;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:30%;
    left:30%;
}