<html>
    <style>
    textarea{
        resize: none;
        outline-color: green;
        border: 2px solid green;
        color: green;
    }
    button {
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        padding: 4px;
        width: 375px;
        border-radius: 8px;
        height: 35px;
        border: 1px solid green;
    }

    button:hover {
        background-color: #4CAF50;
        /* Green */
        color: white;
    }

    </style>
<body >
        <img src="assets/images/enquiry.jpg" alt="img">
<div class="box"><h3>Please mail us for Enquiries</h3>
    <textarea placeholder="send us message" rows="7" cols="50" >
    
    </textarea><br>
    <button type="submit" >Message</button>
</div>

</body>
</html>