<!DOCTYPE html>
<html lang="en">

<head>
    <title>Course Registration System</title>
</head>
<style>
    th {
     
     background: green;
   }
   td{
   
   text-align:center;
   }
   table tr:nth-child(even) {
     background-color: #eee;
   }
   table tr:nth-child(odd) {
     background-color: #fff;
   }
   </style>
<body>
    <form *ngIf="form" [formGroup]="selectCriteriaForm"  (ngSubmit)="onSubmit()">
      <div>
        <select class="dropdown" required formControlName="degree" name="degree"
        [ngClass]="{ 'is-invalid': (submitted&&f.degree.errors) || (f.degree.touched && f.degree.errors) }">
        <span class="focus-input100"></span>
        <option value='' selected>Degree</option>
        <option value='UG' >Under Graduate</option>
        <option value='G' >Graduate</option>
      </select>
      </div>
      <div>
  <select class="dropdown" required formControlName="deptId" name="deptId"
[ngClass]="{ 'is-invalid': (submitted&&f.deptId.errors) || (f.deptId.touched && f.deptId.errors) }">
<option value='' selected>Department</option>
<option *ngFor="let dept of departments" value={{dept.deptId}}>
    {{dept.deptName}}
</option>
</select>
      </div>
      <div>
      <button type="submit">SUBMIT</button>
      </div>
    </form>
      <div *ngIf="displayCourses">
          <table>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Professor</th>
            <th>Course Timings</th>
              <tr *ngFor="let course of courses" >
                <td>{{course.courseId}}</td>
                  <td>{{course.courseName}}</td>
                  <td>{{course.professor}}</td>
                  <td>{{course.courseTimings}}</td>
                <!--  <td><a [routerLink]="['/cart', { courseId:course.courseId }]">ENROLL</a></td>-->
                  <td id="button"><button #btn [disabled]="course.isAddedtoCart" value={{course.courseId}}  (click)="addtocart(btn.value)">ADD TO CART</button></td>
                  
               <!--[disabled]="course.isAddedtoCart"   <td *ngIf="enrolled"><button disabled>Added to cart</button></td>-->

                </tr>
                <tr><td><a [routerLink]="['/cart']">Go to cart</a></td></tr>
                </table>
</div>

</body>
</html>