.box {
    width:400px;
    height:200px;
    background-color:grey;
    position:absolute;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:40%;
    left:30%;
    color: white;
}