<!DOCTYPE html>
<html lang="en">

<head>
  <title>Course Registration System</title>
</head>
<style>
    * html  {
      font:Arial;
    }
    th {
     
     background: green;
   }
   td{
   
   text-align:center;
   }
   table tr:nth-child(even) {
     background-color: #eee;
   }
   table tr:nth-child(odd) {
     background-color: #fff;
   }
   </style>
<body class="box">
        <form [formGroup]="paymentForm" (ngSubmit)="onsubmit()">
          <span>
            Payment
          </span>
          <div >
           <table >
             <tr>
               <td>Total Due:</td>
               <td>${{due}}</td>
             </tr>
             <tr>
                <td>Enter Amount</td >
                <td>
                  <input type="number" required formControlName="paymentAmount" name="paymentAmount" [ngClass]="{ 'is-invalid': submitted && f.paymentAmount.errors }"/>
                </td>

              </tr>
              <div *ngIf="submitted && f.paymentAmount.errors" class="invalid-feedback">
              <tr *ngIf="paymentAmount.errors.required">Please enter the amount you wish to pay
              </tr>
            </div>
           </table>
          </div>
           <div>
              <button type="submit">PAY</button>
            </div>
        </form>
     
</body>

</html>