<style>
    * html  {
      font:Arial;
    }
    th {
     
     background: green;
   }
   td{
   border:1;
   text-align:center;
   }
   table tr:nth-child(even) {
     background-color: #eee;
   }
   table tr:nth-child(odd) {
     background-color: #fff;
   }
   </style>
<div>
  <table border=2 class="box">
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Grade</th>
    
     <tr *ngFor="let gradeObject of gradeObjects" >
      <td>{{gradeObject.courseId}}</td>
        <td>{{gradeObject.courseName}}</td>
        <td>{{gradeObject.grade}}</td>
      </tr>
      </table>

</div>
